<div class="card mb-3">
  <h2 class="card-header h4">
    Video Game #<%= video_game.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Name</dt>
      <dd><%= video_game.name %></dd>

      <dt>Release date</dt>
      <dd><%= video_game.release_date %></dd>

      <dt>Image</dt>
      <dd>
        <%= cl_image_tag @video_game.image, class: "img-fluid" %>
      </dd>

      <dt>Publisher</dt>
      <dd>
        <% if @video_game.publisher.present? %>
          <%= link_to video_game.publisher, video_game.publisher %>
        <% end %>
      </dd>

      <dt>Developer</dt>
      <dd>
        <% if @video_game.developer.present? %>
          <%= link_to video_game.developer, video_game.developer %>
        <% end %>
      </dd>

      <dt>Platform</dt>
      <dd><%= video_game.platform_id %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back video_game, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_video_game_url(video_game), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to video_game, method: :delete, data: { confirm: "Do you really want to delete this video_game?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(video_game.updated_at) %> ago
  </div>
</div>
