<% was_validated = video_game.errors.any? %>

<%= form_with(model: video_game, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = video_game.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <% if name_was_invalid %>
      <% video_game.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% release_date_class = "form-control" %>
    <% release_date_was_invalid = video_game.errors.include?(:release_date) %>

    <% if was_validated %>
      <% if release_date_was_invalid %>
        <% release_date_class << " is-invalid" %>
      <% else %>
        <% release_date_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :release_date %>
    <%= f.date_select :release_date, class: release_date_class, placeholder: "Enter release date" %>
    <% if release_date_was_invalid %>
      <% video_game.errors.full_messages_for(:release_date).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% image_class = "form-control" %>
    <% image_was_invalid = video_game.errors.include?(:image) %>

    <% if was_validated %>
      <% if image_was_invalid %>
        <% image_class << " is-invalid" %>
      <% else %>
        <% image_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
    <% if image_was_invalid %>
      <% video_game.errors.full_messages_for(:image).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% publisher_class = "form-control" %>
    <% publisher_was_invalid = video_game.errors.include?(:publisher) %>

    <% if was_validated %>
      <% if publisher_was_invalid %>
        <% publisher_class << " is-invalid" %>
      <% else %>
        <% publisher_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :publisher_id %>
    <%= f.collection_select :publisher_id, Publisher.all, :id, :to_s, {}, class: "form-control" %>
    <% if publisher_was_invalid %>
      <% video_game.errors.full_messages_for(:publisher).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% developer_class = "form-control" %>
    <% developer_was_invalid = video_game.errors.include?(:developer) %>

    <% if was_validated %>
      <% if developer_was_invalid %>
        <% developer_class << " is-invalid" %>
      <% else %>
        <% developer_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :developer_id %>
    <%= f.collection_select :developer_id, Developer.all, :id, :to_s, {}, class: "form-control" %>
    <% if developer_was_invalid %>
      <% video_game.errors.full_messages_for(:developer).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% platform_class = "form-control" %>
    <% platform_was_invalid = video_game.errors.include?(:platform) %>

    <% if was_validated %>
      <% if platform_was_invalid %>
        <% platform_class << " is-invalid" %>
      <% else %>
        <% platform_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :platform_id %>
    <%= f.collection_select :platform_id, Platform.all, :id, :to_s, {}, class: "form-control" %>
    <% if platform_was_invalid %>
      <% video_game.errors.full_messages_for(:platform).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
