<% was_validated = video_game.errors.any? %>

<%= form_with(model: video_game, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for name start -->
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = video_game.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <!-- Input for name start -->
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <!-- Input for name end -->
    <% if name_was_invalid %>
      <% video_game.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for name end -->
  <!-- Label and input for release_date start -->
  <div class="form-group">
    <% release_date_class = "form-control" %>
    <% release_date_was_invalid = video_game.errors.include?(:release_date) %>

    <% if was_validated %>
      <% if release_date_was_invalid %>
        <% release_date_class << " is-invalid" %>
      <% else %>
        <% release_date_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :release_date %>
    <!-- Input for release_date start -->
    <%= f.date_select :release_date, class: release_date_class, placeholder: "Enter release date" %>
    <!-- Input for release_date end -->
    <% if release_date_was_invalid %>
      <% video_game.errors.full_messages_for(:release_date).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for release_date end -->
  <!-- Label and input for rating_id start -->
  <div class="form-group">
    <% rating_class = "form-control" %>
    <% rating_was_invalid = video_game.errors.include?(:rating) %>

    <% if was_validated %>
      <% if rating_was_invalid %>
        <% rating_class << " is-invalid" %>
      <% else %>
        <% rating_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :rating_id %>
    <!-- Input for rating_id start -->
    <%= f.collection_select :rating_id, Rating.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for rating_id end -->
    <% if rating_was_invalid %>
      <% video_game.errors.full_messages_for(:rating).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for rating_id end -->
  <!-- Label and input for image start -->
  <div class="form-group">
    <% image_class = "form-control" %>
    <% image_was_invalid = video_game.errors.include?(:image) %>

    <% if was_validated %>
      <% if image_was_invalid %>
        <% image_class << " is-invalid" %>
      <% else %>
        <% image_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :image %>
    <!-- Input for image start -->
    <%= f.file_field :image, class: "form-control" %>
    <!-- Input for image end -->
    <% if image_was_invalid %>
      <% video_game.errors.full_messages_for(:image).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for image end -->
  <!-- Label and input for publisher_id start -->
  <div class="form-group">
    <% publisher_class = "form-control" %>
    <% publisher_was_invalid = video_game.errors.include?(:publisher) %>

    <% if was_validated %>
      <% if publisher_was_invalid %>
        <% publisher_class << " is-invalid" %>
      <% else %>
        <% publisher_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :publisher_id %>
    <!-- Input for publisher_id start -->
    <%= f.collection_select :publisher_id, Publisher.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for publisher_id end -->
    <% if publisher_was_invalid %>
      <% video_game.errors.full_messages_for(:publisher).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for publisher_id end -->
  <!-- Label and input for developer_id start -->
  <div class="form-group">
    <% developer_class = "form-control" %>
    <% developer_was_invalid = video_game.errors.include?(:developer) %>

    <% if was_validated %>
      <% if developer_was_invalid %>
        <% developer_class << " is-invalid" %>
      <% else %>
        <% developer_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :developer_id %>
    <!-- Input for developer_id start -->
    <%= f.number_field :developer_id, class: developer_class, placeholder: "Enter developer" %>
    <!-- Input for developer_id end -->
    <% if developer_was_invalid %>
      <% video_game.errors.full_messages_for(:developer).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for developer_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
