<div class="card mb-3">
  <h2 class="card-header h4">
    Note #<%= note.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User</dt>
      <dd>
        <% if @note.user.present? %>
          <%= link_to note.user, note.user %>
        <% end %>
      </dd>

      <dt>Game</dt>
      <dd>
        <% if @note.game.present? %>
          <%= link_to note.game, note.game %>
        <% end %>
      </dd>

      <dt>Note</dt>
      <dd><%= note.note %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back note, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_note_url(note), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to note, method: :delete, data: { confirm: "Do you really want to delete this note?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(note.updated_at) %> ago
  </div>
</div>
