<% was_validated = note.errors.any? %>

<%= form_with(model: note, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for user_id start -->
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = note.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <!-- Input for user_id start -->
    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for user_id end -->
    <% if user_was_invalid %>
      <% note.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for user_id end -->
  <!-- Label and input for game_id start -->
  <div class="form-group">
    <% game_class = "form-control" %>
    <% game_was_invalid = note.errors.include?(:game) %>

    <% if was_validated %>
      <% if game_was_invalid %>
        <% game_class << " is-invalid" %>
      <% else %>
        <% game_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :game_id %>
    <!-- Input for game_id start -->
    <%= f.collection_select :game_id, VideoGame.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for game_id end -->
    <% if game_was_invalid %>
      <% note.errors.full_messages_for(:game).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for game_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
