<%= form_with(model: @status, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :game_id %>

    <%= f.collection_select :game_id, VideoGame.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :status %>

    <%= f.select :status, options_for_select(Status.statuses.keys), {}, class: "form-control" %>
  </div>

  <%= f.submit "Create status", class: "btn btn-block btn-outline-secondary" %>
<% end %>
