<!-- Form status start -->
<%= form_with(model: @status, local: true) do |f| %>
<!-- Form status end -->

  <!-- Label and input for game_id start -->
  <div class="form-group">
    <%= f.label :game_id %>

    <!-- Input for game_id start -->
    <%= f.collection_select :game_id, VideoGame.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for game_id end -->
  </div>
  <!-- Label and input for game_id end -->

  <!-- Label and input for user_id start -->
  <!-- Input for user_id start -->
  <%= f.hidden_field :user_id, value: @user.id %>
  <!-- Input for user_id end -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for status start -->
  <div class="form-group">
    <%= f.label :status %>

    <!-- Input for status start -->
    <%= f.text_field :status, class: "form-control" %>
    <!-- Input for status end -->
  </div>
  <!-- Label and input for status end -->

  <%= f.submit "Create status", class: "btn btn-block btn-outline-secondary" %>
<% end %>
