<%= form_with(model: @video_game, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name %>

    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :release_date %>

    <%= f.date_select :release_date, class: "form-control" %>
  </div>

  <%= f.hidden_field :rating_id, value: @rating.id %>

  <div class="form-group">
    <%= f.label :image %>

    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :publisher_id %>

    <%= f.collection_select :publisher_id, Publisher.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :developer_id %>

    <%= f.collection_select :developer_id, Developer.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create video game", class: "btn btn-block btn-outline-secondary" %>
<% end %>
